/**
 * Register Connect Buttons CSS
 *
 * @author Gérald Sédrati-Dinet <gibus@sedrati-dinet.net>
 */
#register-connect-buttons {
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px;
  cursor: default;
  display: block;
  padding: 6px 5px;
}
#register-connect-msg {
  display: inline-block;
  font-size: 12px;
}
#register-connect-buttons .click {
  bottom: 6px;
  position: relative;
  text-align: center;
  display: inline-block;
  background-color: #ccc;
  border-radius: 3px;
  color: #666;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 20px;
  margin: 3px 3px 3px 10px;
  padding: 0 10px;
  width: auto;
  float: right;
}
