.subject-container {
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    left: 0;
    margin: 30px 200px 0 0;
    padding: 5px 0 0 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.has-subject {
    margin: 55px 200px 32px 0;
}