.message-pane dt {
  height: 13px;
}

.message-pane dd.mention, .message-pane dt.mention {
  background-color: #FFF7DE;
}


.message-pane dd.user-highlight, .message-pane dt.user-highlight {
  background-color: #D7FFFD;
}
